<body style="margin-top:70px;">
<h1>Dashboard</h1>
<hr>
<div class="row">
  <div class="col-md-3">
    <app-label1></app-label1><br>
   <p class="text-center tm-title bold shadow">Narendra Modi</p>
    </div>
  <div class="col-md-3">
    <app-label2></app-label2>
    <p class="text-center">Steve Jobs</p>
    </div>
  <div class="col-md-3">
    <app-label3></app-label3>
    <p class="text-center">Sundar Pichai</p>
    </div>
  <div class="col-md-3">
    <app-label4></app-label4>
    <p class="text-center">Bill Gates</p>
    </div>
</div>

<br><br><br><br><br><br>
<h1>Table</h1>
<hr>
<div class="row">
  <app-table></app-table>
</div>
</body>